---
---

@import "{{ site.theme }}";

.navigation_list {
	list-style: none;
	padding: 0;
}

.navigation_list-item {
	display: inline-block;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #e4b4ea;
    background-image: linear-gradient(120deg, #f0e0f3, #8e7d9c);
}
