---
---

@import "{{ site.theme }}";

.navigation_list {
	list-style: none;
	padding: 0;
	display: inline-block;
}

.navigation_list-item a {
	display: inline-block;
    color: darkslategray;
    background-color: whitesmoke;
    text-decoration: none;
    padding: 2px;
    font-weight: bold;
    border-radius: 5px;	
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #e4b4ea;
    background-image: linear-gradient(120deg, #f0e0f3, #8e7d9c);
}

a {
    color: #7c7e80;
    text-decoration: none;
	display: inline-block;
}
